//site color variables
$body-color: #616464;
$bg-color:#ff7d2c;
$primary-color: #ff873c;
$secondary-color: #c5b996;
$text-color: #ececec;
$text-color-dark: #ececec;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);
$border-color: #3f3e3e;
$box-shadow: #915e00;
$footer-color: ff7923;
$nav-color: $body-color;

// solid colors
$white: #3f3e3e;
$black: #fff;

@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

// Font Variables
$primary-font: 'Reddit Mono',sans-serif;