{{ with .Site.Data.hero }}
  {{ if .enable }}
    <section class="hero hero-background-image" id="hero">
      <div class="hero-shape">
      </div>
      <div class="container hero-align">
        <div class="row align-items-center">
          <div class="col-lg-8 order-2 order-lg-1">
            <div class="hero-content">
              <h1 class="hero-header-1"> {{ .title }} </h1>
              <span class="hero-content-subtitle"> {{ .caption }} </span>
              <p> {{ .description }} </p>
            </div>
          </div>
          <!--<div class="col-lg-4 order-1 order-lg-2">
            <div class="hero-image">
              <img src={{ .image }} alt={{ .alt }} />
            </div>
          </div>-->
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}